<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      {% if boxes %}
	<ul>
	  {% for box in boxes %}
	  <li> 
	    {{box.name }}
	    <img src="{{ box.image.url }}"/>
	</li>
	{% endfor %}
	</ul>
      {% else %}
	      <p> No Boxes here </p>
      {% endif %}
    </main>
	<!-- <script src="index.js"></script> -->
  </body>
</html>

